/* Loading */
.loading i:first-child:before {
    background:#3498db;
}

.loading i:first-child:after {
    background:#3498db;
}
.loading i:last-child:before {
    background:#3498db;
}

.loading i:last-child:after {
    background:#3498db;
}

/* Navigation */
.navigation > li:hover > a,.navigation > li > a:hover,
.navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
    color: #3498db;
}
.mobile-menu-button, .mobile-nav, .slider-fixed-container{   
    background-color: #3498db;    
}
.navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
    color: #3498db;
}

.navigation>li>a.activelink:before{
    border-color: transparent transparent #3498db transparent;
}

.navigation>li:hover >a:after{
    background-color: #3498db;
    bottom: 0;
}
.top-title-wrapper, #header{
    border-color: #3498db;
}
.sticky-header .navigation > li:hover > a span {
    color: #3498db;
}

#header:after{
   border-bottom: #3498db;
}

/* Page Content Colors */
.body-wrapper a:hover,
.tagcloud a,
.top-body a:hover,
.bottom-body a:hover,
.content-box.content-style2 h4 i,
.side-navigation .menu-item.current-menu-item a,
.side-navigation .menu-item:hover a:after,
.side-navigation .menu-item:hover a,
a.tool-tip,
.team-member .team-member-position,
.team-member-progress .team-member-position,
.item-img-overlay i,
ul.icon-content-list-container li.icon-content-single .icon-box i,
.item-img-overlay .portfolio-zoom:hover,
.navigation ul li:hover>a,
.blog-post-quote:after,
.item-img-overlay .portfolio-zoom,
body .tabs-vertical  .tab a,
.section-tabs .tab a.active,
.blog-post-icon i,
.blog-post .blog-post-details-item i,
.blog-post h2 a,
.blog-post .blog-read-more a,
.body-wrapper .tags a,
.feature-arrows .feature-arrow,
body .tab a,
.section-etabs a:hover,
.accordion .title h4,
body .white-text .feature-details a:hover,
.blog-post .blog-span h2,
a.list-group-item.active,
.content-box h4 i{
  color: #3498db;
}

::selection
{
    background-color:#3498db;
}
::-moz-selection
{
    background-color:#3498db;
}

.callout-box{
    border-left-color: #3498db}
.feature .feature-content,.team-member .team-member-content{
    border-top-color: #3498db;
}
 
.team-member-progress-bar,.section-parallax{
    background-color: #3498db;
}
.blog-masonry .blog-post-quote {
    border-top: 2px solid #3498db;
}

.item-img-overlay{
    background-color: rgba(52,152,219,0.8);
}
.item-img-overlay i:hover{
    background-color: rgba(52,152,219,0.8);
}
body .section-content.section-image{
    background-color: #3498db;
    background-color: rgba(52,152,219,0.8);
}
.team-member .team-member-image{
        box-shadow: inset 0 0 0 0 rgba(52,152,219,0.8),
                    inset 0 0 0 0px rgba(255,255,255,0.6),
                    0 1px 2px rgba(0,0,0,0.1);
}
.team-member-image:hover{
    box-shadow: inset 0 0 0 110px rgba(52,152,219,0.8),
                inset 0 0 0 5px rgba(255,255,255,0.8),
                0 1px 2px rgba(0,0,0,0.1);     
}
.section-parallax.secion-color-bg:before{
    background-color: #3498db;
    background-color: rgba(52,152,219,0.8);
}
body a.button, input[type="submit"],
input[type="button"],
body button.button,
body .button,
.btn.btn-primary,
.section-content.section-color-bg,
.section-content.section-services,
.content-box.content-style4 h4 i
,button.button-main,
.body-wrapper .tags a:hover,
.callout-box.callout-box2,
.blog-search .blog-search-button,
.top-title-wrapper, .testimonial-big,
.process-step,
.content-style3:hover .content-style3-icon,
.content-box.style5 h4 i,
table.table thead tr,
.price-table .price-label-badge,
.price-table .price-table-header,
.section-subscribe
.subscribe-button.icon-envelope-alt,
.single-process:after,
.tab.active,
.accordion .active,
.blog-post-quote,
.feature-arrows .feature-arrow:hover,
.dark-accordion.accordion .title.active,
.progress .progress-bar,

.content-box.content-style4 h4 i{
    background-color: #3498db;
}

.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected,
.portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover
,.button.alter:hover, .button.alter:active, button.button.alter:hover, button.button.alter:active{
    background-color: #3498db;
}
.comments-list .children .comment:after{
    border-color: transparent transparent transparent #3498db;;
}

.highlighted-text, .tagcloud a:hover{
    background-color: #3498db;
    color: #ffffff;
}
.tagcloud a:hover{text-decoration:none;}
.icons-list.colored-list li:before, .blog-post-date .day, 
.blog-post-date .month, strong.colored, span.colored 
,.content-style3 .content-style3-icon, .process-details h4,
.feature .feature-content a, .feature .feature-details i, 
body .tp-caption.main_color_text, .accordion .title,
.button.alter, button.button.alter{
    color: #3498db;
}
.button.alter, button.button.alter, body a.button, input[type="submit"], input[type="button"], body button.button,body .button{
    border-color: #3498db;
}

.button.button-white{
    color: #3498db !important;
}
.pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
    color: #3498db;
}


/* Footer Area Colors */

.footer .copyright,
.body-wrapper .tags a{
    border-color: #3498db;
}

.footer .footer-col .footer-title, .footer .copyright a:hover{
    color: #3498db;
}

.flickr_badge_wrapper .flickr_badge_image img:hover,
.feature-arrows .feature-arrow:hover{
    border-color: #3498db;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #3498DB;
    color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3498DB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3498DB;
}
.dropdown-menu {
	background-color: #3498DB;
}
.dropdown-menu > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
	color: #ffffff;
  font-family:"Montserrat",​sans-serif;
}
/* .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, .2);
} */


.header-right .dropdown-submenu  > li > a:hover {
    color: #2a7aaf;
    background-color: rgba(0, 0, 0, .2);
}
.dropdown .fa-angle-down{	
	background-color: #FFFFFF;
    border: 1px solid #121212;
    color: #3498DB;
	}
li.dropdown:hover .fa-angle-down, li.dropdown.active .fa-angle-down{	
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
    color: #3498DB;
}
.comments-list .children .comment:after{
    border-color: transparent transparent transparent #3498db;;
}
.comments-list .children .comment:before{
    background-color: #3498db;
}